.predict-message{
    display:flex;
    font-size: 4rem;
    color: #6935db;
    margin-top:10rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    
}

.details{
    display:flex;
    flex-direction:column;
    color: white;
    font-size:2rem;
    justify-content: center;
    align-items: center;
    gap: 40px;
}